[project]
	description = Monkeypatching for Perl
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikolay Martynov (mar-kolya)
[access "refs/for/refs/*"]
	read = group user/Nikolay Martynov (mar-kolya)
	push = group user/Nikolay Martynov (mar-kolya)
	label-Code-Review = -2..+2 group user/Nikolay Martynov (mar-kolya)
	label-Verified = -1..+1 group user/Nikolay Martynov (mar-kolya)
	rebase = group user/Nikolay Martynov (mar-kolya)
	removeReviewer = group user/Nikolay Martynov (mar-kolya)
	submit = group user/Nikolay Martynov (mar-kolya)
[access "refs/heads/*"]
	read = group user/Nikolay Martynov (mar-kolya)
	create = group user/Nikolay Martynov (mar-kolya)
	push = +force group user/Nikolay Martynov (mar-kolya)
	pushMerge = group user/Nikolay Martynov (mar-kolya)
[access "refs/tags/*"]
	push = +force group user/Nikolay Martynov (mar-kolya)
	pushTag = group user/Nikolay Martynov (mar-kolya)
	pushSignedTag = group user/Nikolay Martynov (mar-kolya)
